# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual Python env
venv/

# Repo specific
/datasets/
no-commit/
.idea/
out/
plots/
saved_models/

# Tensorboard
logs/
runs/